name: Test

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          cache: pip

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Build test
        run: |
          set -euo pipefail
          PREVPWD=$(pwd)
          TMPDIR=$(mktemp -d)
          cd $TMPDIR
          python $PREVPWD/installer.py -v
          if [ ! -f $TMPDIR/JagexLauncher.exe ]; then
            echo "JagexLauncher.exe not found!"
            exit 1
          fi
          cd $PREVPWD
          rm -rf $TMPDIR
